set interfaces bonding dp0bond0 vif ${vlan} address ${primary_ip_address}
set interfaces bonding dp0bond0 vif ${vlan} vrrp vrrp-group 1 preempt 'false'
set interfaces bonding dp0bond0 vif ${vlan} vrrp vrrp-group 1 priority '254'
set interfaces bonding dp0bond0 vif ${vlan} vrrp vrrp-group 1 sync-group 'vgroup1'

%{for subnet in subnets ~}
set interfaces bonding dp0bond0 vif ${vlan} vrrp vrrp-group 1 virtual-address '${subnet.gateway}/${subnet.cidr}'
%{ endfor ~}

set interfaces bonding dp0bond0 vif ${vlan} address ${secondary_ip_address}
set interfaces bonding dp0bond0 vif ${vlan} vrrp vrrp-group 1 preempt 'false'
set interfaces bonding dp0bond0 vif ${vlan} vrrp vrrp-group 1 priority '253'
set interfaces bonding dp0bond0 vif ${vlan} vrrp vrrp-group 1 sync-group 'vgroup1'

%{for subnet in subnets ~}
set interfaces bonding dp0bond0 vif ${vlan} vrrp vrrp-group 1 virtual-address '${subnet.gateway}/${subnet.cidr}'
%{ endfor ~}
